[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-env = "*"
freezegun = "*"

[packages]
chainer = "*"
librosa = "*"
matplotlib = "*"
mysqlclient = "*"
numpy = "*"
peewee = "*"
progressbar2 = "*"
pyyaml = "*"
scipy = "*"
sklearn = "*"
tweepy = "*"
gunicorn = "*"
flask = "*"
youtube-dl = {git = "https://github.com/UtakoTuneProj/youtube-dl.git"}

[requires]
python_version = "3.6"
