[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "gunicorn --reload -c conf/gunicorn.conf.py bin.flask_entrypoint:app"
pull-devel-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_DEVELOP} > conf/auth.develop.conf'"
pull-prod-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_PRODUCTION} > conf/auth.production.conf'"
push-devel-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_DEVELOP} --data-file=conf/auth.develop.conf'"
push-prod-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_PRODUCTION} --data-file=conf/auth.production.conf'"
test = "bash -c 'PYTHONPATH=. PYTHON_ENV=test pytest --cov=utako -r a -v'"

[dev-packages]
pytest = "*"
pytest-env = "*"
freezegun = "*"
pytest-cov = "*"

[packages]
chainer = "~=7.8"
librosa = "~=0.9.2"
matplotlib = "~=3.6"
numpy = "~=1.23"
peewee = "~=3.15"
progressbar2 = "~=4.2"
pyyaml = "~=6.0"
scipy = "~=1.10"
tweepy = "~=4.12"
gunicorn = "~=20.1"
flask = "~=2.2"
yt-dlp = ">=2024.03.10"
google-cloud-pubsub = "~=2.14"
google-cloud-tasks = "~=2.12"
google-cloud-storage = "~=2.7"
python-json-logger = "~=2.0"
pymysql = "~=1.0"
scikit-learn = "~=1.2"

[requires]
python_version = "3.8"
