[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "gunicorn --reload -c conf/gunicorn.conf.py bin.flask_entrypoint:app"
pull-devel-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_DEVELOP} > conf/auth.develop.conf'"
pull-prod-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_PRODUCTION} > conf/auth.production.conf'"
push-devel-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_DEVELOP} --data-file=conf/auth.develop.conf'"
push-prod-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_PRODUCTION} --data-file=conf/auth.production.conf'"
test = "bash -c 'PYTHONPATH=. PYTHON_ENV=test pytest --cov=utako -r a -v'"

[dev-packages]
pytest = "*"
pytest-env = "*"
freezegun = "*"
pytest-cov = "*"

[packages]
chainer = "*"
librosa = "*"
matplotlib = "*"
numpy = "*"
peewee = "*"
progressbar2 = "*"
pyyaml = "*"
scipy = "*"
sklearn = "*"
tweepy = "*"
gunicorn = "*"
flask = "*"
youtube-dl = {git = "https://github.com/UtakoTuneProj/youtube-dl-1"}
google-cloud-pubsub = "*"
google-cloud-tasks = "~=1.5"
google-cloud-storage = "*"
python-json-logger = "*"
pymysql = "*"

[requires]
python_version = "3.8"
