[database_type]
    dbtype      = mysql, postgres or sqlite
[database]
    host        = hostname
    user        = username
    password    = password
    database    = database
    charset     = utf8

[tweepy]
    API_KEY         = Twitter-API-key
    API_SECRET      = Twitter-API-secret-key
    ACCESS_TOKEN    = Twitter-Access-token
    ACCESS_SECRET   = Twitter-Access-secret
