[database_type]
    dbtype      = mysql|postgres|sqlite
[database]
    host        = hostname
    user        = username
    password    = password
    database    = database
    charset     = utf8

[tweepy]
    API_KEY         = Twitter-API-key
    API_SECRET      = Twitter-API-secret-key
    ACCESS_TOKEN    = Twitter-Access-token
    ACCESS_SECRET   = Twitter-Access-secret

[niconico]
    user        = usermail
    password    = password

[gcp]
    PROJECT_ID              = GCP project ID
    LOCATION                = GCP location
    TASK_BASE_URL           = https://cloud_run.job_server.endpoint.example.com
    TASK_ACCOUNT            = cloudtasks-jobrunner@my-project.iam.gserviceaccount.com
    TASK_ANALYZE_QUEUE      = task_queue_name
    TASK_CREATETREE_QUEUE   = task_queue_name
    TASK_SCORE_QUEUE        = task_queue_name
    STORAGE_PARTIAL_BUCKET  = bucket-name-for-save-partial-download-files
